<div class="align-left">
{% if error %}
    <div class="light small bold">{{error}}</div>
{% else %}
    <div class="light small normal">Screen powered off <span class="bright">{{percentagePoweredOffShort}} %</span> during the last <span class="bright">{{duration}}</span></div>
{% endif %}
</div>
